<div class=" col-md-9 main">
    <div style="padding-right: 40px; padding-left: 80px; padding-bottom: 30px;">
  <h1 style="text-align: center;">
      Haseeb is an Animator
  </h1>
  <p style="text-align: center;">
      Creative and methodical
  </p>
  <h2 style="text-align: center;">
      Work History
  </h2>
  <p>
      Chemistry and English Tutor - Freelance
  </p>
  <p>
     Tutored 2 students in both English and chemistry.    Both students passed and excelled in those classes. 
  </p>

  <p>
      Sales Representative and Repairs, Fone Tech Solutions 2012-2015
  </p>
  <p>
      Responsible for sales and repair of electronic devices ranging from cellphones to Macs and PCs. Was trained in assmbly and disassembly of electronic devices and has since assemble multiple personal computers. 
  </p>
  
  <h2 style="text-align: center;">
      Education
  </h2>
  <p>
      DURHAM COLLEGE, OSHAWA ONTARIO
  </p>
  <p>
      Diploma in Animation and Digital Production- September 2016 - Present
  </p>
  <p>
      CARLETON UNIVERSITY, OTTAWA, ONTARIO, CANADA
  </p>
  <p>
      Bachelor of Engineering: Chemical Engineering - 09/2013-04/2015
  </p>
  <p>
      PINE RIDGE SECONDARY SCHOOL
  </p>
  <p>
      OSSD- Graduated 2013
      
  </p>
  <h2 style="text-align: center;">
      Skills
  </h2>
  <p>
     Proficient in Microsoft Office. 2D animation using ToonBoom and Adobe Animate, 3D modelling and animation using Autodesk Maya. Drawing and short animation using Autodesk sketchbook. 

  </p>
  <h2 style="text-align: center;">
      Interests and Activities
  </h2>
  <p>
      Computer building, sports (Football, Rugby and Hockey), Dragon Boat and video games. 
  </p>
  <h2 style="text-align: center;">
      Accomplishments
  </h2>
  <p>
      HONOR ROLL
  </p>
  <p>
    Pine Ridge Secondary School
  </p>
  <p>
      DEAN'S LIST
  </p>
  <p>
      Durham College
  </p>
  </div>
</div>