<div class="container-fluid">
    <div class="row">
        <div class = " col-md-3 sidebar" style="background-color: #EEEEEE;">
            <ul class="nav nav-pills nav-stacked">
                <li  routerLinkActive="active"><a routerLink="overview">Who I am</a></li>
                <li  routerLinkActive="active"><a routerLink="bio">What I do</a></li>
                <li  routerLinkActive="active"><a routerLink="portfolio">What I've done</a></li>
                <li  routerLinkActive="active"><a routerLink="connect">Where to find me</a></li>
                
            </ul>
        </div>
         <div >
            <router-outlet></router-outlet>   
        </div>
    </div>
</div>