<div style="text-align: center;">
    <h1>
        DAS-studio is , was, and always will be
    </h1>
    <h3>
        An international collaborative effort by Nick Johnston and Haseeb Abid and a creative outlet for their talents.
        
        DAS-studio is the sum of their creative abilities.

    </h3>
    <h1>
        DAS-studio is evolving
    </h1>
    <h3>
        They are always improving, they are always adapting. Whether in art or in code, their capabilities expand everyday. For now Haseeb protects Canada, learning animation in Toronto, whilst Nick Johnston hones his coding craft down in Illinois. 
    </h3>
    <h1>DAS-Studio is coming</h1>
    <h3>
        When we aren't focusing on our education or our careers, we are creating and polishing projects and content. 
    </h3>

    
    </div>