<div class=" col-md-9 main">
    <div style="padding-right: 40px; padding-left: 80px; padding-bottom: 30px;">
  <h1 style="text-align: center;">
      Nick is a Programmer
  </h1>
  <p style="text-align: center;">
      Forward thinking and globally minded
  </p>
  <h2 style="text-align: center;">
      Work History
  </h2>
  <p>
      INTERN, YAYASAN USAHA MULIA (YUM), JAKARTA INDONESIA - SUMMER 2012
  </p>
  <p>
      As a student intern at this NGO which strove to improve the quality of life of the poor and destitute in Indonesia, 
      I conducted interviews, wrote articles, took photographs, edited and assisted in maintaining their website. YUM maintinas orphanages and sustanable farming in remote villages in Indonesia.
  </p>

  <p>
      FOOD PREPARER, GREAT HARVEST BREAD COMPANY,PEORIA IL - 08/2016-PRESENT
  </p>
  <p>
      My Responsibilities include prepping food, making sandwhiches, customer service and training new staff members.
  </p>
  <p>
      STUDENT ASSISTANT NOTE TAKER, ILLINOIS CENTRAL COLLEGE, EAST PEORIA IL - 08/2016
  </p>
  <p>
      Employed by the campus to take notes for dyslexic and disabled students. Could type at up to 60 wpm.
  </p>
  <h2 style="text-align: center;">
      Education
  </h2>
  <p>
      ILLINOIS CENTRAL COLLEGE, EAST PEORIA - IL
  </p>
  <p>
      Associates of Science: Computer Science and Information Systems with a Buisness Specialization- Graducated 12/2016
  </p>
  <p>
      CARLETON UNIVERSITY, OTTAWA, ONTARIO, CANADA
  </p>
  <p>
      Bachelor of Arts: English Major - 09/2013-04/2015
  </p>
  <p>
      JAKARTA INTERNATIONAL SCHOOL, JAKARTA INDONESIA
  </p>
  <p>
      IB certificate- Graduated 2013
  </p>
  <h2 style="text-align: center;">
      Skills
  </h2>
  <p>
      Can program in Java and C++ using any standard IDE includingEclipse, NetBeans and Visual Studio. Highly proficent with Word, PowerPoint, Photoshop, Illustrator, and Web Design including Html, Css, Javascript, Typescript, and the Angular 2 Framework.

  </p>
  <p>
      I'm a self motivated learner and enjoy picking up new skills and improving old ones in my spare time. I'm great at working in a group to solve complex problems anf have experience working with people of all skill sets.
  </p>
  <h2 style="text-align: center;">
      Interests and Activities
  </h2>
  <p>
      Drone enthusiast, Computers, Scuba Diving, Photography, Reading, Writing, Traveling and foriegn languages (can speak a little Mandarin Chinese and Indonesian Bahasa). 
  </p>
  <h2 style="text-align: center;">
      Accomplishments
  </h2>
  <p>
      MUN (MODEL UNITED NATIONS) CONFRENCE DELEGATE, GRADES 11-12: MANILA PHILIPPINES 11/2011 + TAIPEI, TAIWAN 11/2012
  </p>
  <p>
      Acting as a delegate from the Jakarta Intercultural School, I participated in this academic simulation of the U.N. which aims to educate participants about current events, international relations, diplomacy, and the U.N.'s general structure. Participants research a country, take on roles as diplomates, investigate international issues, debate, deliberate, consult, and then develop solutions to global issues in via drafted resolutions durring a simulated U.N. session. 
  </p>
  <p>
      EARCOS (EAST ASIAN REGIONAL COUNCIL OF SCHOOLS) GIN (GLOBAL ISSUES NETWORK) DELEGATE, GRADE 9:HONG KONG, 03/2010
  </p>
  <p>
      Acting as a delegate from the International School of Tianjin, China, I worked in conjunction with other international students in collaboration to develop solutions for global issues. Skill used at this conference were critial thinking, speech writing, and public speaking. 
      </p>
  <p>
      CIS (COUNCIL OF INTERNATIONAL SCHOOLS) COMMITTEE MEMBER, GRADE 9: INTERNATIONAL SCHOOL OF TIANJIN P.R.CHINA, 02/2010
  </p>
  <p>
      As a representative of the student body, I worked with a team of teachers to help with the accredidation of the International School of Tianjin. CIS is a non-profit association which aims to improve the qaulity of international education. 
  </p>
  </div>
</div>